.settings-component {
  
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
}

.footer-wrapper {
  background-color: lightgray;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: right;
}

.mainPanel {
  float: left;
  height: calc(100vh - 50px);
}

.configuration {
  width: 40%;
  overflow: auto;
  resize: auto;
}

.preview {
  width: calc(60% - 1px);
}

.divider {
  width:1px;
  background-color: lightgray;
}